{
  "APIKEY": "topsecret",
  "XMPP_DOMAIN": "somedomain.tld",
  "MUC_DOMAIN": "conference.somedomain.tld",
  "BOSH_SERVICE": "https://xmpp.somedomain.tld/bosh/",
  "BASEURL": "https://somedomain.tld/userlist/",
  "ROOMNAME_GUIDELINE": "^[a-z0-9._-]{5,40}$",
  "ROOMNAME_GUIDELINE_DESCRIPTION": "- mindestens 5 Zeichen, aber maximal 40 Zeichen,\n- Kleinbuchstaben von a bis z (aber keine Umlaute) oder\n- Zahlen oder\n- Punkt (.) oder\n- Unterstrich (_) oder\n- Bindestrich (-),\n- keine Leerzeichen"
}
